<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/index.css">
    <title>Ideal Fashion</title>
</head>

<body>
  
   
    <div class="login-container">
        <h1>Iniciar Sesión</h1>
        <form>
            <input class="input-login" type="email" placeholder="Correo Electrónico">
            <input class="input-login" type="password" placeholder="Contraseña" >
            <button class="btn" type="submit">Entrar</button>
            <p>¿No tienes una cuenta? <a  href="./views/Registrarse.html">Registrarte</a></p>
        </form>
    </div>



</body>

</html>