<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/index.css">
    <title>Ideal Fashion</title>


</head>
<body>
    
    
<header id="header">

</header>

<article>
    <section>
        <h1 class="poleron">TODOS LOS PRODUCTOS</h1>

    </section>
</article>
<footer id="footer">
</footer>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        fetch('./components/header.html')
        .then(response => response.text())
        .then(data => document.getElementById('header').innerHTML = data);
    })
    document.addEventListener("DOMContentLoaded", function () {
        fetch('./components/footer.html')
            .then(response => response.text())
            .then(data => document.getElementById('footer').innerHTML = data);
    })
</script>

</body>
</html>