<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/index.css">
    <title>Ideal Fashion</title>
</head>
<body>

    <div class="registro-container">
        <h1>Crear Cuenta</h1>
        <form>
            <input class="input-crear-cuenta" placeholder="Nombre">
            <input class="input-crear-cuenta" placeholder="Apellido">
            <input class="input-crear-cuenta" placeholder="Correo Electrónico" >
            <input class="input-crear-cuenta" type="password" placeholder="Contraseña" >
            <button class="btn" type="submit">Entrar</button>
            <a class="enlace" href="./index.html">Volver Al Inicio</a>
        </form>
    </div>


    

</body>
</html>