<footer>
    <div class="footer">
        <a href="./index.html">IDEAL FASHION</a>
        <div class="footer-data">
            <h1>Redes Sociales</h1>
            <h1>Visitanos</h1>
            <h1>Contacto</h1>

            <ul class="lista">
                <li><h1 href="#">Facebook</h1></li>
                <li><h1 href="#">Instagram</h1></li>
                <li><h1 href="#">Twitter</h1></li>
            </ul>

            
            <ul class="lista">
                <li><h1 href="#">Francisco Salazar 1145,
                    Temuco, Araucanía</h1></li>
            </ul>
            
            <ul class="lista">
                <li><h1 href="#">ideal.fashion
                    24@ufromail.cl</h1></li>
            </ul>
            
            
           

        </div>
    </div>

</footer>