
<header>
    <div class="encabezado">
        <a class="ideal-fashion" href="./index.html">IDEAL FASHION</a>
        <input type="search" placeholder="Buscar en Ideal Fashion..." class="buscador">
        <a href="./views/IniciarSesion.html" class="boton">Iniciar Sesión/Registrarse</a>

    </div>
    
    <nav class="navbar">
        <a class="navbar-rutas"  href ="./Espe1-Taller1/views/Productos.html">TODOS LOS PRODUCTOS </a>
        <a class="navbar-rutas"  href ="./Espe1-Taller1/views/Polerones.html">POLERONES </a>
        <a class="navbar-rutas"  href ="./Espe1-Taller1/views/Pantalones.html">PANTALONES </a>
        <a class="navbar-rutas"  href ="./Espe1-Taller1/views/Conjuntos.html">CONJUNTOS </a>
        <a class="navbar-rutas"  href ="">ACCESORIOS </a>


    </nav>
    

</header>